*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Opens Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 252, 249);
}

 section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
    width: 400px;        
    gap: 30px;
    background-color: rgb(151, 101, 71);
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

section form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

section h1{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid;
    width: 100%;
}

section button{
    margin-top: 40px;
    cursor: pointer;
}

.formato input{
    padding: 5px;
    padding-right:170px;
    border-radius: 5px;

}

#nascimento input[type="date"]{
    width: 170px;
    padding: 5px;
    cursor: pointer;

}

#comprovante{
    display: block;
    text-align: center;
    margin-top: 10px;
}

#comprovante input[type="file"] {
    margin-top: 20px;
    font-size: 16px;
    
}

button {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(91, 65, 39);
    cursor: pointer;
    color: aliceblue;
}